html, body{
    margin: 0;
    padding: 1px;
}

header {    
    background: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: auto;
    background-color: skyblue;
    display: flex;
    align-items: center;
    height: 100;
}

#logo{
    width: 250px;
    height: auto;
    margin: 10px;
}

h2{
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 48px;
}

.subscript-author{
    margin: 0;
}
.subscript-date{
    margin-top: 0;
    font-weight: 200;
    font-size: small;
}

.autore {
    color: skyblue;
    font-weight: 800;
    text-decoration: none;
}

#photo-container {
    display: flex; 
    gap: 10px;  
    width: 100%;  
}

.photo {
    max-width: 50%; 
    height: auto;  
    object-fit: cover;  
}

.description-photo {
    margin: 0;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.item{
    width: 35%;
    text-align: left;
}
.description{
    width: 100%;
    text-align: left;
}

th {
    background-color: cornflowerblue;
}

.sky-table {
    background-color: skyblue;
}

em{
    background-color: yellow;
    font-style: normal;
}

#monitor {
    background: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: auto;
    color: white;
}

#graph {
    background: url(../img/graph.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: auto;
    color: white;
}
